doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0' name='viewport')
  body
    h5= title
    block content

    script(src='/javascripts/vue.min.js')
    script(src='/javascripts/axios.min.js')
    script(src='/javascripts/a.js')

    hr

    footer
         a(href='/') 首页