doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0' name='viewport')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(charset='utf-8')
    link(rel='stylesheet', href='//cdn.bootcss.com/mdui/0.3.0/css/mdui.min.css')
    script(src='//cdn.bootcss.com/mdui/0.3.0/js/mdui.min.js')
    
  body
    div.mdui-container.mdui-m-t-3.mdui-m-b-3.mdui-m-l-3.mdui-m-r-3
        div.mdui-typo
            h2= title
        block content
        
        script(src='/javascripts/vue.min.js')
        script(src='/javascripts/axios.min.js')
        script(src='/javascripts/a.js')

        br
        div(class='mdui-divider')
        
        footer
          div.mdui-typo
            br
            //-a(href='/') 首页
            p Naiveboom MDUI Version by 
              a(href='https://home.asec01.net/') Zhangzhe
            p
              a(href='https://github.com/zzzz0317/naiveboom') zzzz0317/naiveboom
        