textarea { border: 2px dotted black;  }


pre {
white-space: pre-wrap;
word-wrap: break-word;
}


#zhao {
	color: red;
}

#enurl:hover { transform: scale(1.01); }

#tg.show
{
	background: red;
	width: 100vh;
	opacity: 1;
	color: yellow;
	font-size: 10em;
}

#tg
{
	top: 1vw;
	left: 1vw;
	width: 1px;
	display: block;
	position: absolute;
	background: gray;
	transition: all 2s ease-in;
	opacity: 0;
}

#enurl
{
	transition: all .3s ease-in-out;
	margin: 3px 0;
	display: inline-block;
	color: white;
	background-color: #66CCCC;
	padding: 6px 12px;
	border-radius: .5;
}